body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.gambarr{
    max-width: 100px;
    display: inline;
    height: auto;
    border-radius: 100px;
    align-items: ;
}

nav li{
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    display: inline;
    align-items:flex-end;
    text-transform: uppercase;
    flex: none;
    padding: 10px;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;
    list-style: none;
}

nav ul{
    text-align: right;
    align-items:self-end;
    display:flex;
    vertical-align: none;
}

nav li a{
    text-decoration: none;
    color: black;
}

.kotak {
    width: 870px;
    height: 200px;
    background-color: #f1f8fa;
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 100%;
    font-size: 100%;
    margin-left: 150px;
}

h1{
    font-family: sans-serif;
    text-align:left;
    font-weight: 300;
    font-size: 35px;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

.paragraf1{
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 150px;
    line-height: 100%;
    display: block;
}

.paragraf2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 150px;
    line-height: 100%;
    display: block;
}

a{
    color: navy;
    text-decoration: none;
}
.list{
    background-color: whitesmoke;
    align-items: flex-end;
    margin-left: 150px;
    width: 870px;
}

h3{
    font-size: 40px;
    text-align: center;
}

h4{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.mytable, th, td{
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    background-color: beige;
    color: black
    padding: 10px;
    text-align: left;
  }
