body {
    background-color: rgb(246, 208, 203);
    background-repeat: no-repeat;
    background-size: cover;
}

nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    display: inline;
    align-items: flex-end;
    text-transform: uppercase;
    color: black;
    background-color: rgb(250, 250, 250);
    flex: none;
    padding: 10px;
    order: 0;
    flex-grow: 0;
}
nav ul{
    text-align: right;
}

nav li a{
    text-decoration: none;
}

img {
    width:500px; 
    height: 500px;
    border-radius: 100%;
    border: 20px solid black
}

.box_image {
    text-align: center;
}

td {
    border: 1px solid black;
    width: 50%
}

.mytable {
    width: 100%;
    margin-top: 100px;
}

.baris1 {
    background-color: darkolivegreen;
}

.baris2 {
    background-color: darkkhaki;
}

.icon{
    size: 200px;
}